body {
    width: 90vw;
    height: 90vw;
    margin: auto;
    font-style: normal;
    font-family: "Microsoft Yahei", serif;
    font-size: 20px;

}

.anchor {
    /*margin: 20px;*/
    width: 100px;
    height: 20px;
    border-radius: .5rem;
    text-align: center;
    background-color: rgba(126, 234, 141, .9);
}

.box {
    border: 1px solid #333333;
    width: 200px;
    height: 100px;
    /*超出部分*/
    /*scroll 滚动*/
    /*hidden 隐藏*/
    overflow-x: scroll;
}

.unit div {
    width: 100px;
    /*颜色值、饱和度、亮度、透明度*/
    /*background-color: rgb(129, 166, 201);*/
    background-color: rgba(119, 0, 255, .6);
    margin: 20px;
    border-radius: .5rem;
}

.gradient {
    border-radius: .9em;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(90deg, rgba(119, 0, 255, 1) 39%, rgba(0, 212, 255, 1) 100%);
    background-position: right 10px;
}

.star {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    background-image: url("../assets/star.svg");
    background-position: right 20px;
    background-repeat: no-repeat;
}

.layout div {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.box {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.wrapper div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
}
