<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../assets/rain.svg">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
<header style="height: 100px;background-color: rgba(255,165,0,0.8)">
    <div class="anchor" id="top"><a href="#foot">回到底部</a></div>
</header>

<main style="height: 1000px;background-color: wheat;">
    <div class="box">
        This box has a height and a width. This means that if there is too much content to be displayed
        within the assigned height, there will be an overflow situation. If overflow is set to hidden then any overflow
        will not be visible.
    </div>
    <p>This content is outside the box.</p>
    <p>渐变色</p>
    <div class="gradient"></div>
    <div class="star"></div>
    <div class="unit">
        <div style="font-size: 10px;height: 10em">10em</div>
        <div style="font-size: 24px;height: 10vw">10vw</div>
        <div style="font-size: 24px;height: 10vh">10vh</div>
    </div>
    <div class="layout">
        <div class="block b1">block-1</div>
        <div class="block b2">block-2</div>
        <div class="inline i1">inline-1</div>
        <div class="inline i2">inline-2</div>
        <div class="inline-block ib1">inline-block-1</div>
        <div class="inline-block ib2">inline-block-2</div>
    </div>
    <div class="wrapper">
        <div class="box1">One</div>
        <div class="box2">Two</div>
        <div class="box3">Three</div>
    </div>
</main>

<footer style="height: 100px;background-color: rgba(255,165,0,0.8)">
    <div class="anchor" id="foot">
        <a href="#top">回到顶部</a>
    </div>
</footer>
</body>
</html>
