<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

<header style="height: 100px;background-color: orange">
    <div id="top" 顶部锚点></div>
    <a href="#foot">回到底部</a>
    <a href="#anchor">回到中间</a>
</header>

<main style="height: 1000px;background-color: wheat">
    <div class="box">This box has a height and a width. This means that if there is too much content to be displayed within the assigned height, there will be an overflow situation. If overflow is set to hidden then any overflow will not be visible.</div>
    <p>This content is outside of the box.</p>
    <div class="gradient"></div>
    <div class="star"></div>
    <div class="unit">
        <div>px</div>
        <div>vw: view-width</div>
        <div>vh: view-height</div>
    </div>
    <div class="container">
        <div class="el">el-1</div>
        <div class="el">el-2</div>
        <div class="el">el-3</div>
    </div>
    <div id="anchor" style="margin-top: 500px">中间锚点</div>
</main>

<footer style="height: 100px;background-color: cadetblue">
    <div id="foot" style="">底部锚点</div>
    <div class="foot">
        <a href="#top">回到顶部</a>
        <a href="#anchor">回到中间</a>
    </div>
</footer>

</body>
</html>
