<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/flex_grid.css">
</head>
<body>
<div class="header" style="background-color: #d26446;">
    <div class="box left" style="background-color: #ff005e;">
        <div class="el"></div>
    </div>
    <div class="box mid" style="background-color: #ffea00;">
        <div class="el fix" style="background-color: #26ff00;"></div>
        <div class="el fix" style="background-color: #0033ff;"></div>
        <div class="box search">
            <div class="el" style="background-color: #4665e3;margin: 1px"></div>
            <div class="el fix" style="background-color: #0033ff;margin: 1px"></div>
        </div>
    </div>
    <div class="box right" style="background-color: #8410de;"></div>
</div>

<div class="main" style="background-color: #dfc6c6">
    <div class="grid" style="background-color: aquamarine">
        <div class="el-grid"></div>
        <div class="el-grid"></div>
        <div class="el-grid"></div>
    </div>
</div>

<div class="foot" style="background-color: #d26446;height: 70px">
</div>
</body>
</html>
